.btn-descarga {
  max-height: 20px;
  max-width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.dot-line {
  margin-top: 10px;
  border: dashed 2px #96a5d297;
  border-top: none;
  border-left: none;
  border-right: none;
  max-width: 200px;
}

.color-box {
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 3px;
  background-color: aqua;
  align-self: center;
  margin-right: 5px;
}

.bold {
  font-weight: 600;
}

.mantine-DatePicker-levelsGroup {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
