#buscarID{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

#inputSabueso{
    display: flex;
    justify-content: center;
    width: 40%;
}

#buttonArea{
    display: flex;
    width: 20%;
    gap: 30px;
}