#spinner{
    display: flex;
    margin-top: 300px;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
}

.loadcircle{
    width: 100px;
    height: 100px;
}